<div class="wrapper-normal">
    <div class="header-home">
        <div>
            <img class="selfie" alt="Randy" src="{{ site.url }}/images/head2-tn.jpg">
        </div>
        <div class="social-links">
            <a class="social" href="http://instagram.com/randyansari">
                <i class="fa fa-instagram">
                </i>
            </a>
            <a class="social" href="http://medium.com/@randyansari">
                <i class="fa fa-medium">
                </i>
            </a>
            <a class="social" href="mailto:randyansari6@gmail.com">
                <i class="fa fa-envelope">
                </i>
            </a>
            <a class="social" href="http://linkedin.com/in/randyansari">
                <i class="fa fa-linkedin">
                </i>
            </a>
            <a class="social" href="https://twitter.com/chaoticsnumber">
                <i class="fa fa-twitter">
                </i>
            </a>
        </div>
        <p class="description">Data / Viz / Design</p>

    </div>

</div>